# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Python egg info
*.egg-info/
.eggs/

# Distribution / packaging
build/
dist/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Logs
*.log

# IDE/editor folders
.idea/
*.sublime-project
*.sublime-workspace

# Python environment files
pip-wheel-metadata/

static/uploads/
static/temp/